@primary-color: #3cff00;
@light-gray-color: #bcbcbc;
@dark-gray-color: #7b7676;
@default-background: rgb(236, 236, 236);
.sans-serif-font {
    font-family: 'Lato', 'Segoe UI', 'Arial', sans-serif;
}

html {
    height: 100%;
}

body {
    background: @default-background;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    .sans-serif-font;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
}

hr {
    border-width: 5px;
    border-color: @primary-color;
}

.btn-primary {
    background-color: @light-gray-color;
    outline: none;
    border: none;
    &:hover {
        background-color: @dark-gray-color;
        outline: none;
        background: @default-background;
        height: 100%;
        cursor: pointer;
    }
    &:active {
        background-color: @light-gray-color !important;
        box-shadow: none!important;
        background: @default-background;
        height: 100%;
        cursor: pointer;
    }
}

.container {
    padding-top: 80px;
    padding-bottom: 80px;
}

.btn-secondary {
    background-color: @primary-color;
    outline: none;
    border: none;
    &:hover {
        background-color: @dark-gray-color;
        outline: none;
        background: #ceffbf;
        height: 100%;
        cursor: pointer;
    }
    &:active {
        background-color: @primary-color !important;
        box-shadow: none !important;
        background: @default-background;
        height: 100%;
        cursor: pointer;
    }
}

.log {
    margin-right: 5px;
    margin-left: 10px;
}

.navbar {
    min-height: 60px;
    position: fixed;
    width: 100%;
    border-bottom: 3px solid @primary-color;
    z-index: 99;
    .navbar-brand {
        .sans-serif-font;
        letter-spacing: 4px;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        &:hover {
            text-shadow: 3px 3px 0 @primary-color;
        }
    }
    .nav-item {
        &:hover {
            background-color: @primary-color;
            border-radius: 3px;
            .nav-link {
                color: white;
            }
        }
    }
}

.centered-text-layout {
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
}

.full-height {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.big-icon {
    color: @primary-color;
    font-size: 180px;
}

#head-txt {
    font-style: normal;
    color: black;
    .a {
        color: @primary-color;
    }
}

#reg-link {
    color: #56b638;
}

.layout-header {
    background: url("/images/restaurant-back-head.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: @default-background;
    height: 50%;
}

.login {
    background: url("/images/restaurant-back.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: @default-background;
    display: table;
    padding: 0;
    .login-container {
        display: table-cell;
        vertical-align: middle;
        background: rgba(255, 255, 255, .7);
        .login-form {
            border-radius: 8px;
            background-color: white;
            padding: 20px;
            input {
                background: none;
                border: none;
                border-bottom: 3px solid @primary-color;
            }
        }
    }
}